* {
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Arial', sans-serif;
   font-size: 20px;
   background-color: #F7F7F7;
}

main {
   max-width: 570px;
   width: 100%;
   margin: 0 auto;
   background-color: rgb(245, 241, 241);
   padding: 35px 36px 16px;
   border: 1px solid #ccc ;
   border-radius: 6px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
div {
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
}
input, select {
   margin-right: 80px;
}
textarea {
   margin-right: 80px;
   resize: none;
}

.sex-form {
   display: grid;
   grid-template-columns: 1fr 1fr;
     
}

#sex-1, #sex-2 {
   margin-right: 5px;  
}

.sex-form-radio {
   display: flex;
   align-items: center;
   margin-right: 20px;
}

#agreement {
   margin-right: 5px;
}

.btn1 {
   background-color: crimson;
   font-size: 20px;
}
.btn2 {
   background-color: rgb(71, 185, 56);
   font-size: 20px;
}